@font-face {
  font-family: "SEAT BCN";
  src: url("../fonts/SEATBCN-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SEAT BCN";
  src: url("../fonts/SEATBCN-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "SEAT BCN";
  src: url("../fonts/SEATBCN-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SEAT BCN";
  src: url("../fonts/SEATBCN-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
.clr-white {
  color: #ffffff;
}
.clr-white-80 {
  color: rgba(255, 255, 255, 0.8);
}
.clr-black {
  color: #190f14;
}
.clr-black-f {
  color: #0f0f0f;
}
.clr-blue {
  color: #00e;
}
.clr-typo-gray {
  color: #747468;
}
.clr-orange {
  color: #ea5d1a;
}

.bg-kvgreen {
  background-color: #438a9c;
}
.bg-white {
  background-color: #ffffff;
}

.heading__primary {
  font-size: 64px;
  line-height: 72px;
}
.heading__secondary {
  font-size: 50px;
  line-height: 62px;
}
.heading__tertiary {
  font-size: 48px;
  line-height: 109%;
  font-weight: 800;
}
.heading__quaternary {
  font-size: 38px;
  line-height: 48px;
}
.heading__quinary {
  font-size: 30px;
  line-height: 133%;
  font-weight: 800;
}

@media (max-width: 1024px) {
  .heading__primary {
    font-size: 48px;
    line-height: 109%;
  }
  .heading__secondary {
    font-size: 30px;
    line-height: 36px;
  }
  .heading__tertiary {
    font-size: 24px;
    line-height: 109%;
  }
  .heading__quaternary {
    font-size: 24px;
    line-height: 36px;
  }
  .heading__quinary {
    font-size: 24px;
    line-height: 36px;
  }
}
.container {
  max-width: 1468px;
  padding: 0 16px;
}
.container, .container-big {
  margin: 0 auto;
  width: 100%;
}
.container-big {
  max-width: 1952px;
}

.spacer-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.d-f {
  display: flex;
}

.f-w {
  flex-wrap: wrap;
}

.ai-c {
  align-items: center;
}

.ai-fs {
  align-items: flex-start;
}

.ai-fe {
  align-items: flex-end;
}

.ai-s {
  align-items: stretch;
}

.jc-e {
  justify-content: flex-end;
}

.jc-s {
  justify-content: flex-start;
}

.jc-c {
  justify-content: center;
}

.jc-b {
  justify-content: space-between;
}

.fd-c {
  flex-direction: column;
}

.fd-rr {
  flex-direction: row-reverse;
}

.shrink-0 {
  flex-shrink: 0;
}

.fw-900 {
  font-weight: 900;
}

.fw-800 {
  font-weight: 800;
}

.fw-700 {
  font-weight: 700;
}

.fw-600 {
  font-weight: 600;
}

.fw-500 {
  font-weight: 500;
}

.fw-400 {
  font-weight: 400;
}

.fw-300 {
  font-weight: 300;
}

.fw-200 {
  font-weight: 200;
}

.fw-100 {
  font-weight: 100;
}

.mb-128 {
  margin-bottom: 128px;
}
.mb-109 {
  margin-bottom: 109px;
}
.mb-104 {
  margin-bottom: 104px;
}
.mb-76 {
  margin-bottom: 76px;
}
.mb-72 {
  margin-bottom: 72px;
}
.mb-68 {
  margin-bottom: 68px;
}
.mb-65 {
  margin-bottom: 65px;
}
.mb-64 {
  margin-bottom: 64px;
}
.mb-59 {
  margin-bottom: 59px;
}
.mb-56 {
  margin-bottom: 56px;
}
.mb-52 {
  margin-bottom: 52px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-48 {
  margin-bottom: 48px;
}
.mb-45 {
  margin-bottom: 45px;
}
.mb-41 {
  margin-bottom: 41px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-38 {
  margin-bottom: 38px;
}
.mb-35 {
  margin-bottom: 35px;
}
.mb-36 {
  margin-bottom: 36px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-28 {
  margin-bottom: 28px;
}
.mb-27 {
  margin-bottom: 27px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-21 {
  margin-bottom: 21px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-19 {
  margin-bottom: 19px;
}
.mb-18 {
  margin-bottom: 18px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-14 {
  margin-bottom: 14px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-4 {
  margin-bottom: 4px;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

/* ------GAP------ */
.gap-4 {
  gap: 4px;
}
.gap-5 {
  gap: 5px;
}
.gap-6 {
  gap: 6px;
}
.gap-8 {
  gap: 8px;
}
.gap-10 {
  gap: 10px;
}
.gap-12 {
  gap: 12px;
}
.gap-13 {
  gap: 13px;
}
.gap-14 {
  gap: 14px;
}
.gap-16 {
  gap: 16px;
}
.gap-20 {
  gap: 20px;
}
.gap-24 {
  gap: 24px;
}
.gap-32 {
  gap: 32px;
}
.gap-42 {
  gap: 42px;
}
.gap-48 {
  gap: 48px;
}
.gap-64 {
  gap: 64px;
}
.gap-159 {
  gap: 159px;
}

.ta-c {
  text-align: center;
}

.ta-l {
  text-align: left;
}

.ta-r {
  text-align: right;
}

.fs-48 {
  font-size: 48px;
}

.fs-36 {
  font-size: 36px;
}

.fs-20 {
  font-size: 20px;
}

.fs-18 {
  font-size: 18px;
}

.fs-17 {
  font-size: 17px;
}

.fs-16 {
  font-size: 16px;
}

.fs-15 {
  font-size: 15px;
}

.fs-14 {
  font-size: 14px;
}

.lh-120p {
  line-height: 120%;
}

.lh-48 {
  line-height: 48px;
}

.lh-46 {
  line-height: 46px;
}

.lh-30 {
  line-height: 30px;
}

.lh-27 {
  line-height: 27px;
}

.lh-26 {
  line-height: 26px;
}

.lh-24 {
  line-height: 24px;
}

.lh-22 {
  line-height: 22px;
}

.lh-20 {
  line-height: 20px;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}
.underline-hov:hover {
  text-decoration: underline;
}

.o-hidden {
  overflow: hidden;
}

.img-width {
  width: 100%;
}

.mg-center {
  margin-left: auto;
  margin-right: auto;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.fxd {
  position: fixed;
}

.stcky {
  position: sticky;
}

.mg-8 {
  margin: 8px;
}

.col__2 {
  max-width: 50%;
  flex: 0 0 calc(50% - 8px);
}
.col__3 {
  max-width: 33.333%;
  flex: 0 0 33.333%;
}
.col__5 {
  max-width: 20%;
  flex: 0 0 20%;
}
.col__cta-last {
  margin-left: 8px;
}
.col__cta-first {
  margin-right: 8px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.kerning-none {
  font-kerning: none;
}

.max-w-300 {
  max-width: 300px;
}

.transition-03 {
  transition-duration: 0.3s;
}
.transition-color {
  transition-property: color;
}
.transition-bg {
  transition-property: background-color;
}
.transition-fill {
  transition-property: fill;
}
.transition-opacity {
  transition-property: opacity;
}

.d-b--lg {
  display: none;
}

@media (max-width: 1024px) {
  .d-b--lg {
    display: block;
  }
  .mb-0--lg {
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .md--col__2 {
    max-width: 50%;
    flex: 0 0 50%;
  }
}
@media (max-width: 576px) {
  .sm--col__1 {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .sm--col__2 {
    max-width: 50%;
    flex: 0 0 50%;
  }
}
*,
*:before,
*:after {
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

html {
  /* overflow-x: hidden; */
}

body {
  width: 100vw;
  height: 100%;
  position: relative;
  font-kerning: none;
  font-family: "SEAT BCN", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

ul li {
  list-style-type: none;
  display: inline;
}

button {
  outline: none;
  font-size: inherit;
}

label,
button {
  cursor: pointer;
}

img {
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.btn {
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 48px; /* 300% */
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  gap: 12px;
  width: -moz-fit-content;
  width: fit-content;
  outline: none;
  border: none;
  height: 48px;
  transition-duration: 0.3s;
  transition-property: color, border, fill, background-color;
}
.btn:disabled {
  opacity: 0.8;
  pointer-events: none;
}
.btn:hover {
  cursor: pointer;
}
.btn-big {
  padding: 0 38px;
}
.btn__primary-black {
  background: #190f14;
  color: #ffffff;
}
.btn__primary-black:hover {
  background: rgba(25, 15, 20, 0.8);
}
.btn__primary-white {
  background-color: #ffffff;
  color: #190f14;
}
.btn__primary-white:hover {
  color: rgba(25, 15, 20, 0.8);
}
.btn__primary-white:hover svg {
  fill: rgba(25, 15, 20, 0.8);
}
.btn__primary-orange {
  background: #ea5d1a;
  color: #ffffff;
}
.btn__primary-orange:hover {
  background-color: #f08d5f;
}
.btn__secondary-black {
  border: 2px solid #190f14;
  background: #ffffff;
  color: #190f14;
}
.btn__secondary-black:hover {
  color: rgba(25, 15, 20, 0.8);
  border-color: rgba(25, 15, 20, 0.8);
}
.btn__secondary-black:hover svg {
  fill: rgba(25, 15, 20, 0.8);
}
.btn__secondary-white {
  border: 2px solid #ffffff;
  background: #190f14;
  color: #ffffff;
}
.btn__secondary-white:hover {
  border-color: rgba(255, 255, 255, 0.8);
}
.btn__secondary-orange {
  border: 2px solid #ea5d1a;
  background: #ffffff;
  color: #ea5d1a;
}
.btn__secondary-orange:hover {
  color: #f08d5f;
  border-color: #f08d5f;
}
.btn__secondary-kvgreen {
  background-color: #438a9c;
  border: 2px solid #ffffff;
  color: #ffffff;
}
.btn__secondary-kvgreen:hover {
  background-color: rgba(67, 138, 156, 0.8);
}
.btn__icon-black {
  fill: #190f14;
}
.btn__icon-white {
  fill: #ffffff;
}
.btn__icon-white:hover, .btn__icon-black:hover {
  cursor: pointer;
}

.cta {
  padding: 88px 0;
  background-color: #f3f3f0;
  font-family: "SEAT BCN";
}
.cta__container {
  max-width: 985px;
  padding: 0 16px;
  width: 100%;
  margin: 0 auto;
}
.cta__headline {
  max-width: 710px;
  text-align: center;
}
.cta__subheading {
  color: var(--seat-new-black, #190f14);
  text-align: center;
  font-size: 20px;
  line-height: 32px; /* 160% */
  letter-spacing: 0.112px;
}
.cta__heading {
  color: #0f0f0f;
  text-align: center;
  font-kerning: none;
  font-family: "SEAT BCN";
  font-size: 48px;
  font-style: normal;
  font-weight: 750;
  line-height: 109%; /* 52.32px */
}
.cta__row-input {
  max-height: 48px;
  padding: 12px 20px;
}
.cta__row-textarea {
  padding: 14px 20px;
  height: 184px;
  resize: vertical;
}
.cta__row-input, .cta__row-textarea {
  color: #190f14;
  border-radius: 2px;
  border: 1px solid #e8e8e8;
  background: #ffffff;
  font-size: 16px;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.112px;
  font-family: "SEAT BCN";
}
.cta__consent {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}
.cta__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #e8e8e8;
  background: #ffffff;
  transition: all 0.3s;
}
.cta__checkbox-container {
  padding-left: 32px;
}
.cta__checkbox::before {
  content: url("/img/icons/check.svg");
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  opacity: 0;
  visibility: hidden;
  position: relative;
}
.cta__checkbox.active {
  background-color: #ea5d1a;
}
.cta__checkbox.active::before {
  opacity: 1;
  visibility: visible;
}
.cta__label {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px; /* 131.25% */
}
.cta__col-first {
  margin-right: 8px;
}
.cta__col-last {
  margin-left: 8px;
}
.cta__animation {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 104px;
  left: 0;
  z-index: 9;
  background: #fafaf9;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
}
.cta__animation.active {
  opacity: 1;
  visibility: visible;
}
.cta__animation-cont {
  margin: 0 auto;
  max-width: 697px;
  width: 100%;
}

@media (max-width: 1024px) {
  .cta {
    padding: 48px 0;
  }
  .cta__subheading {
    font-size: 16px;
    line-height: 24px;
  }
  .cta__ask {
    font-size: 14px;
    line-height: 30px; /* 214.286% */
  }
  .cta__animation {
    top: 59px;
  }
}
@media (max-width: 768px) {
  .cta__row {
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 16px;
  }
  .cta__col-first, .cta__col-last {
    max-width: unset;
    margin: unset;
  }
  .cta__consent, .cta__label {
    font-size: 13px;
  }
  .cta__consent {
    line-height: 24px;
  }
  .cta__label {
    line-height: 15px;
  }
  .cta__headline {
    margin-bottom: 48px;
  }
}
.maps {
  position: relative;
  height: 662px;
}
.maps__iframe {
  width: 100%;
  height: 100%;
}
.maps__container {
  position: absolute;
  top: 0;
  pointer-events: none;
  height: 100%;
}
.maps__box {
  position: absolute;
  right: 16px;
  top: 48px;
  background-color: #ffffff;
  padding: 40px;
  max-width: 468px;
  width: 100%;
  flex-shrink: 0;
  pointer-events: all;
}
.maps__box-bottom {
  max-width: 167px;
}
.maps__location {
  font-size: 16px;
  line-height: 26px;
}
.maps__location-28 {
  line-height: 28px;
}
.maps__location-26 {
  line-height: 26px;
}
.maps__location-16 {
  line-height: normal;
}
.maps__hours {
  margin-bottom: 153px;
}

@media (max-width: 1344px) {
  .maps {
    height: 614px;
  }
  .maps__box {
    top: 24px;
  }
}
@media (max-width: 1200px) {
  .maps {
    height: 428px;
  }
  .maps__box {
    padding: 20px;
    top: 0;
    right: 0;
    max-width: 400px;
  }
  .maps__box-top {
    margin-bottom: 24px;
  }
  .maps__hours {
    margin-bottom: 80px;
  }
}
@media (max-width: 1024px) {
  .maps {
    height: auto;
  }
  .maps__iframe {
    height: 350px;
  }
  .maps__container {
    position: relative;
  }
  .maps__box {
    position: relative;
  }
}
.header {
  position: sticky;
  padding: 28px 0;
  top: 0;
  left: 0;
  z-index: 10;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 141px;
  height: 32px;
}
.header__logo-black {
  fill: #190f14;
}
.header__logo-white {
  fill: #ffffff;
}
.header__text-black {
  color: #190f14;
}
.header__text-black:hover {
  color: #ea5d1a;
}
.header__text-white {
  color: #ffffff;
}
.header__text-white:hover {
  color: rgba(255, 255, 255, 0.8);
}
.header__link {
  padding: 0 16px;
}
.header__links {
  font-size: 16px;
  font-weight: 700;
  line-height: 48px; /* 300% */
}
.header__cta {
  display: flex;
  gap: 16px;
}
.header__mobile {
  display: none;
  gap: 4px;
  height: 40px;
}
.header__hamburger {
  display: none;
}
.header__shadow {
  background: rgba(0, 0, 0, 0.16);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: -8px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition-duration: 0.3s;
  transition-property: opacity, visibility;
}
.header__shadow.active {
  opacity: 1;
  visibility: visible;
}
.header__scroll {
  box-shadow: 0 50px 80px rgba(0, 0, 0, 0.07);
}

.clause {
  background-color: #fafaf9;
}
.clause__text {
  color: rgba(15, 15, 15, 0.6);
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.112px;
}

.footer {
  padding: 64px 0 52px;
  background-color: #33302e;
}
.footer__up {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ea5d1a;
  position: absolute;
  top: 278px;
  right: 48px;
  border-radius: 4px;
}
.footer__up:hover {
  background-color: #f08d5f;
}
.footer__row {
  border-bottom: 1px solid #82807f;
  padding-bottom: 54px;
  gap: 24px 16px;
}
.footer__col {
  max-width: 226px;
  width: 100%;
}
.footer__name {
  font-size: 16px;
}
.footer__location, .footer__mail {
  font-size: 16px;
  line-height: 26px; /* 162.5% */
}
.footer__mail {
  transition: 0.3s color;
  color: #ffffff;
}
.footer__mail:hover {
  color: #ea5d1a;
}
.footer__link {
  padding: 6px 0;
  color: rgba(255, 255, 255, 0.8);
  font-size: 13px;
  line-height: 18px; /* 138.462% */
  transition-property: color, fill;
}
.footer__link:hover {
  color: #ea5d1a;
}
.footer__link:hover svg {
  fill: #ea5d1a;
}
.footer__icon {
  fill: #ffffff;
}
.footer__hours {
  max-width: 163px;
}
.footer__social {
  margin: 8px;
  fill: #ffffff;
}
.footer__social:hover {
  fill: #ea5d1a;
}
.footer__wrapper {
  padding: 24px 0;
}
.footer__copyright {
  font-size: 14px;
  line-height: 22px; /* 157.143% */
}
.footer__cookies:hover {
  color: #ea5d1a;
}
.footer__cookies-mobile {
  display: none;
}
.footer__cookies-last, .footer__cookies-first {
  padding: 18px 0;
  border-bottom: 1px solid #82807f;
}
.footer__cookies-first {
  padding-top: 6px;
}

@media (max-width: 1024px) {
  .header {
    padding: 8px 0;
  }
  .header__nav {
    position: fixed;
    padding-top: 68px;
    z-index: 10;
    right: 0;
    top: 0px;
    width: 80%;
    height: 100vh;
    transition: 0.3s transform;
    transform: translate(100%);
    flex-direction: column;
    justify-content: space-between;
  }
  .header__nav.active {
    transform: translate(0%);
  }
  .header__btn {
    width: 50%;
    justify-content: unset;
  }
  .header__links {
    flex-direction: column;
  }
  .header__hamburger {
    display: block;
    width: auto;
    position: absolute;
    top: 16px;
    right: 16px;
  }
  .header__mobile {
    display: flex;
  }
  .header__cta {
    padding: 12px 24px 24px;
    width: 100%;
    align-items: start;
    justify-content: flex-end;
  }
  .header__logo {
    width: 106.603px;
    height: 24px;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 24px 0 40px;
  }
  .footer__row {
    display: none;
  }
  .footer__cookies-mobile {
    display: flex;
  }
  .footer__cookies-desktop {
    display: none;
  }
  .footer__wrapper {
    padding: unset;
    flex-direction: column-reverse;
    align-items: center;
  }
  .footer__logo {
    padding: 24px 0 16px;
  }
  .footer__socials {
    padding: 24px 0;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid #82807f;
  }
  .footer__copyright-text {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .header__cta {
    flex-direction: column;
  }
  .header__btn {
    width: 100%;
  }
  .clause__text {
    line-height: 22px;
  }
  .footer__up {
    display: none;
  }
}
@media (max-width: 425px) {
  .header__mobile-icon {
    padding: 4px;
  }
}
.hero__container {
  background-color: #438a9c;
  height: 696px;
}
.hero__img {
  top: 0;
  right: 0;
  padding-left: 16px;
  max-width: 1194px;
  height: 100%;
  z-index: 0;
}
.hero__subheading {
  font-size: 32px;
  line-height: 42px; /* 131.25% */
}
.hero__text {
  max-width: 831px;
}
.hero__text-box {
  padding-top: 113px;
  z-index: 1;
}
.hero__configurator {
  max-width: 1073px;
  padding: 24px;
}
.hero__icon {
  flex-shrink: 0;
  margin: 5px;
}
.hero__btn {
  max-width: 241px;
  width: 100%;
}

.dropdown {
  padding: 10px 12px 10px 16px;
  border: 1px solid #e8e8e8;
  font-size: 14px;
  line-height: 30px; /* 214.286% */
}
.dropdown:hover {
  cursor: pointer;
}
.dropdown.active {
  outline: 2px solid #ea5d1a;
}
.dropdown.active .dropdown__list {
  max-height: 226px;
  overflow: hidden auto;
  display: flex;
  scrollbar-color: #ea5d1a transparent;
  scrollbar-width: thin;
}
.dropdown.active .dropdown__list::-webkit-scrollbar {
  width: 4px;
}
.dropdown.active .dropdown__list::-webkit-scrollbar-thumb {
  background: #ea5d1a;
}
.dropdown__text {
  font-size: 14px;
  line-height: 28px; /* 200% */
}
.dropdown__box {
  max-width: 245px;
}
.dropdown__list {
  display: none;
  position: absolute;
  border: 1px solid #e8e8e8;
  left: 0;
  top: calc(100% + 12px);
  width: 100%;
  padding: 12px;
  z-index: 9;
}
.dropdown__item {
  padding: 5px 8px;
}
.dropdown__item:hover {
  cursor: pointer;
  background-color: #f3f3f0;
}
.dropdown__item-separator {
  flex-shrink: 0;
  margin: 0 8px;
  width: calc(100% - 4px);
  height: 1px;
  background-color: #e8e8e8;
}
.dropdown__clean {
  padding: 6px 0;
  display: none;
  color: #0f0f0f;
  font-size: 13px;
  line-height: 18px; /* 138.462% */
}
.dropdown__clean.active {
  display: flex;
}
.dropdown__clean:hover {
  cursor: pointer;
}

.listing__header {
  font-family: "SEAT BCN";
  font-size: 30px;
  font-weight: 800;
  line-height: 48px; /* 160% */
}
.listing__sort {
  max-width: 350px;
}
.listing__img {
  transition: transform 0.3s;
}
.listing__img-box {
  flex-shrink: 0;
  width: 468px;
}
.listing__img:hover {
  transform: scale(1.1);
}
.listing__title {
  font-size: 22px;
  line-height: 117%; /* 25.74px */
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  height: 26px;
}
.listing__title:hover {
  color: #ea5d1a;
}
.listing__product {
  border: 1px solid #e8e8e8;
  display: none;
}
.listing__product.active {
  display: flex;
}
.listing__description {
  max-width: 968px;
  padding: 29px 32px;
}
.listing__state-new, .listing__state-used {
  padding: 3px 8px;
  border-radius: 2px;
  font-size: 13px;
  line-height: 18px; /* 138.462% */
}
.listing__state-new {
  background: #190f14;
  color: #ffffff;
}
.listing__state-used {
  background: #f3f3f0;
  color: #190f14;
}
.listing__number {
  color: var(--seat-new-typo-gray, #747468);
  font-size: 14px;
  font-weight: 400;
  line-height: 28px; /* 200% */
}
.listing__attribute {
  font-size: 14px;
  line-height: 24px;
}
.listing__attributes:not(:last-of-type) {
  padding-right: 16px;
}
.listing__attribute-value {
  font-size: 18px;
  font-weight: 750;
  line-height: 24px; /* 133.333% */
}
.listing__price {
  font-size: 30px;
  line-height: 40px; /* 133.333% */
}
.listing__price-type {
  font-size: 14px;
  line-height: 28px; /* 200% */
}

.pagination {
  padding-top: 32px;
}
.pagination__sqr {
  color: #190f14;
  font-size: 13px;
  line-height: 28px; /* 215.385% */
  letter-spacing: 0.112px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
  transition-duration: 0.3s;
  transition-property: color, background-color, box-shadow, border-color;
}
.pagination__sqr.active {
  background-color: #ea5d1a;
  border-color: #ea5d1a;
  color: #ffffff;
}
.pagination__sqr:hover {
  cursor: pointer;
  background-color: #f08d5f;
  border-color: #f08d5f;
  color: #ffffff;
}
.pagination__sqr:hover .pagination__svg {
  fill: #ffffff;
}
.pagination__sqr:active {
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.2);
}
.pagination__svg {
  fill: #190f14;
}

@media (max-width: 1200px) {
  .hero__img {
    position: relative;
  }
  .hero__container {
    height: unset;
  }
  .hero__text-box {
    padding: 32px 16px;
  }
  .hero__subheading {
    margin-bottom: 32px;
  }
  .listing__attribute {
    display: none;
  }
}
@media (max-width: 1024px) {
  .hero__subheading {
    font-size: 18px;
    line-height: 32px;
  }
  .d-n--lg {
    display: none;
  }
  .heading__primary {
    max-width: 700px;
    margin-bottom: 8px;
  }
  .listing__header {
    font-size: 18px;
    line-height: 32px; /* 177.778% */
  }
  .listing__product {
    flex-direction: column;
  }
  .listing__img-box {
    width: 100%;
    max-width: unset;
  }
  .listing__attributes {
    max-width: unset;
    flex: unset;
  }
  .listing__attribute-value {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    color: #747468;
    font-size: 13px;
    font-weight: 500;
    line-height: 140%; /* 18.2px */
  }
  .listing__state-new, .listing__state-used {
    display: block;
    visibility: visible;
    position: absolute;
    top: 16px;
    left: 16px;
  }
  .listing__title {
    font-size: 16px;
    line-height: 28px; /* 175% */
    margin-bottom: 4px;
  }
  .listing__btn {
    display: none;
  }
  .listing__price {
    font-size: 24px;
    line-height: 36px; /* 150% */
  }
  .listing__price-type {
    font-size: 13px;
    line-height: 24px; /* 184.615% */
  }
  .listing__pricing {
    padding: 12px 24px;
    width: 100%;
  }
  .listing__description {
    padding: unset;
  }
  .listing__box-top {
    padding: 20px 24px 16px;
    border: 1px solid #e8e8e8;
  }
  .listing__top {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-bottom: 24px;
  }
  .listing__header {
    padding-top: 32px;
  }
  .listing__sort {
    max-width: unset;
    justify-content: space-between;
    padding: 16px 0;
    position: relative;
  }
  .listing__sort::before {
    content: "";
    width: calc(100% + 32px);
    height: 1px;
    background-color: #e8e8e8;
    position: absolute;
    bottom: 0;
    left: -16px;
  }
  .listing__sort-dropdown {
    height: 48px;
    max-width: 242px;
  }
  .pagination {
    padding-top: 24px;
  }
  .spacer-64 {
    padding-top: 0;
    padding-bottom: 32px;
  }
  .mb-41 {
    margin-bottom: unset;
  }
}
@media (max-width: 768px) {
  .hero__btn {
    margin-bottom: unset;
  }
  .dropdown__container {
    margin-bottom: 24px;
    gap: 12px;
    flex-wrap: wrap;
  }
  .dropdown__box {
    max-width: calc(50% - 8px);
    flex: 0 0 calc(50% - 8px);
    width: 100%;
  }
  .dropdown__text {
    font-size: 13px;
    line-height: 24px; /* 184.615% */
  }
  .listing__btn {
    display: none;
  }
}
@media (max-width: 576px) {
  .hero__configurator-btns {
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
  }
  .hero__btn {
    max-width: unset;
  }
  .heading__primary {
    font-size: 28px;
    line-height: 36px; /* 128.571% */
  }
  .dropdown__box {
    max-width: 100%;
    flex: 0 0 100%;
  }
}/*# sourceMappingURL=home.css.map */