@font-face {
	font-family: "SEAT BCN";
	src: url("../fonts/SEATBCN-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "SEAT BCN";
	src: url("../fonts/SEATBCN-Black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: "SEAT BCN";
	src: url("../fonts/SEATBCN-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "SEAT BCN";
	src: url("../fonts/SEATBCN-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
