.heading {
	&__primary {
		font-size: 64px;
		line-height: 72px;
	}

	&__secondary {
		font-size: 50px;
		line-height: 62px;
	}

	&__tertiary {
		font-size: 48px;
		line-height: 109%;
		font-weight: 800;
	}

	&__quaternary {
		font-size: 38px;
		line-height: 48px;
	}

	&__quinary {
		font-size: 30px;
		line-height: 133%;
		font-weight: 800;
	}
}

@media (max-width: 1024px) {
	.heading {
		&__primary {
			font-size: 48px;
			line-height: 109%;
		}

		&__secondary {
			font-size: 30px;
			line-height: 36px;
		}

		&__tertiary {
			font-size: 24px;
			line-height: 109%;
		}

		&__quaternary {
			font-size: 24px;
			line-height: 36px;
		}

		&__quinary {
			font-size: 24px;
			line-height: 36px;
		}
	}
}
