.container {
	max-width: 1468px;
	padding: 0 16px;
	&,
	&-big {
		margin: 0 auto;
		width: 100%;
	}
	&-big {
		max-width: 1952px;
	}
}

.spacer-64 {
	padding-top: 64px;
	padding-bottom: 64px;
}

.d-f {
	display: flex;
}

.f-w {
	flex-wrap: wrap;
}

.ai-c {
	align-items: center;
}

.ai-fs {
	align-items: flex-start;
}

.ai-fe {
	align-items: flex-end;
}

.ai-s {
	align-items: stretch;
}

.jc-e {
	justify-content: flex-end;
}

.jc-s {
	justify-content: flex-start;
}

.jc-c {
	justify-content: center;
}

.jc-b {
	justify-content: space-between;
}

.fd-c {
	flex-direction: column;
}

.fd-rr {
	flex-direction: row-reverse;
}

.shrink-0 {
	flex-shrink: 0;
}

.fw-900 {
	font-weight: 900;
}

.fw-800 {
	font-weight: 800;
}

.fw-700 {
	font-weight: 700;
}

.fw-600 {
	font-weight: 600;
}

.fw-500 {
	font-weight: 500;
}

.fw-400 {
	font-weight: 400;
}

.fw-300 {
	font-weight: 300;
}

.fw-200 {
	font-weight: 200;
}

.fw-100 {
	font-weight: 100;
}

.mb {
	&-128 {
		margin-bottom: 128px;
	}

	&-109 {
		margin-bottom: 109px;
	}

	&-104 {
		margin-bottom: 104px;
	}

	&-76 {
		margin-bottom: 76px;
	}

	&-72 {
		margin-bottom: 72px;
	}

	&-68 {
		margin-bottom: 68px;
	}

	&-65 {
		margin-bottom: 65px;
	}

	&-64 {
		margin-bottom: 64px;
	}

	&-59 {
		margin-bottom: 59px;
	}

	&-56 {
		margin-bottom: 56px;
	}

	&-52 {
		margin-bottom: 52px;
	}

	&-50 {
		margin-bottom: 50px;
	}

	&-48 {
		margin-bottom: 48px;
	}

	&-45 {
		margin-bottom: 45px;
	}

	&-41 {
		margin-bottom: 41px;
	}

	&-40 {
		margin-bottom: 40px;
	}

	&-38 {
		margin-bottom: 38px;
	}

	&-35 {
		margin-bottom: 35px;
	}

	&-36 {
		margin-bottom: 36px;
	}

	&-32 {
		margin-bottom: 32px;
	}

	&-30 {
		margin-bottom: 30px;
	}

	&-28 {
		margin-bottom: 28px;
	}

	&-27 {
		margin-bottom: 27px;
	}

	&-25 {
		margin-bottom: 25px;
	}

	&-24 {
		margin-bottom: 24px;
	}

	&-21 {
		margin-bottom: 21px;
	}

	&-20 {
		margin-bottom: 20px;
	}

	&-19 {
		margin-bottom: 19px;
	}

	&-18 {
		margin-bottom: 18px;
	}

	&-16 {
		margin-bottom: 16px;
	}

	&-15 {
		margin-bottom: 15px;
	}

	&-14 {
		margin-bottom: 14px;
	}

	&-12 {
		margin-bottom: 12px;
	}

	&-10 {
		margin-bottom: 10px;
	}

	&-8 {
		margin-bottom: 8px;
	}

	&-4 {
		margin-bottom: 4px;
	}
}

.w-100 {
	width: 100%;
}

.h-100 {
	height: 100%;
}

/* ------GAP------ */

.gap {
	&-4 {
		gap: 4px;
	}

	&-5 {
		gap: 5px;
	}

	&-6 {
		gap: 6px;
	}

	&-8 {
		gap: 8px;
	}

	&-10 {
		gap: 10px;
	}

	&-12 {
		gap: 12px;
	}

	&-13 {
		gap: 13px;
	}

	&-14 {
		gap: 14px;
	}

	&-16 {
		gap: 16px;
	}

	&-20 {
		gap: 20px;
	}

	&-24 {
		gap: 24px;
	}

	&-32 {
		gap: 32px;
	}

	&-42 {
		gap: 42px;
	}

	&-48 {
		gap: 48px;
	}

	&-64 {
		gap: 64px;
	}

	&-159 {
		gap: 159px;
	}
}

.ta-c {
	text-align: center;
}

.ta-l {
	text-align: left;
}

.ta-r {
	text-align: right;
}

.fs-48 {
	font-size: 48px;
}

.fs-36 {
	font-size: 36px;
}

.fs-20 {
	font-size: 20px;
}

.fs-18 {
	font-size: 18px;
}

.fs-17 {
	font-size: 17px;
}

.fs-16 {
	font-size: 16px;
}

.fs-15 {
	font-size: 15px;
}

.fs-14 {
	font-size: 14px;
}

.lh-120p {
	line-height: 120%;
}

.lh-48 {
	line-height: 48px;
}

.lh-46 {
	line-height: 46px;
}

.lh-30 {
	line-height: 30px;
}

.lh-27 {
	line-height: 27px;
}

.lh-26 {
	line-height: 26px;
}

.lh-24 {
	line-height: 24px;
}

.lh-22 {
	line-height: 22px;
}

.lh-20 {
	line-height: 20px;
}

.uppercase {
	text-transform: uppercase;
}

.underline {
	text-decoration: underline;
	&-hov {
		&:hover {
			text-decoration: underline;
		}
	}
}

.o-hidden {
	overflow: hidden;
}

.img-width {
	width: 100%;
}

.mg-center {
	// display: block;
	margin-left: auto;
	margin-right: auto;
}

.rel {
	position: relative;
}

.abs {
	position: absolute;
}

.fxd {
	position: fixed;
}

.stcky {
	position: sticky;
}

.mg-8 {
	margin: 8px;
}

.col {
	&__2 {
		max-width: 50%;
		flex: 0 0 calc(50% - 8px);
	}

	&__3 {
		max-width: 33.333%;
		flex: 0 0 33.333%;
	}

	&__5 {
		max-width: 20%;
		flex: 0 0 20%;
	}

	&__cta {
		&-last {
			margin-left: 8px;
		}
		&-first {
			margin-right: 8px;
		}
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.kerning-none {
	font-kerning: none;
}

.max-w-300 {
	max-width: 300px;
}

.transition {
	&-03 {
		transition-duration: 0.3s;
	}

	&-color {
		transition-property: color;
	}

	&-bg {
		transition-property: background-color;
	}

	&-fill {
		transition-property: fill;
	}

	&-opacity {
		transition-property: opacity;
	}
}

.d-b--lg {
	display: none;
}

@media (max-width: 1024px) {
	.d-b--lg {
		display: block;
	}
	.mb-0--lg {
		margin-bottom: 0;
	}
}

@media (max-width: 768px) {
	.md {
		&--col__2 {
			max-width: 50%;
			flex: 0 0 50%;
		}
	}
}

@media (max-width: 576px) {
	.sm {
		&--col__1 {
			max-width: 100%;
			flex: 0 0 100%;
		}

		&--col__2 {
			max-width: 50%;
			flex: 0 0 50%;
		}
	}
}
