$black: #190f14;
$black-80: #190f14cc;
$typo-gray: #747468;
$light-gray: #e1e1e1;
$border-gray: #e8e8e8;
$bg-gray: #f3f3f0;

$orange: #ea5d1a;
$orange-hover: #f08d5f;

$kv-green: #438a9c;

$white: #ffffff;
$white-80: #ffffffcc;

.clr-white {
	color: $white;
}

.clr-black {
	color: $black;
}
