$black: #190f14;
$black-f: #0f0f0f;
$black-80: #190f14cc;
$black-3: #33302e;

$typo-gray: #747468;
$light-gray: #e1e1e1;
$border-gray: #e8e8e8;
$footer-border-gray: #82807f;
$bg-gray: #f3f3f0;

$orange: #ea5d1a;
$orange-hover: #f08d5f;

$kv-green: #438a9c;
$kv-green-80: #438a9ccc;

$blue: #00e;

$white: #ffffff;
$white-80: #ffffffcc;

.clr {
	&-white {
		color: $white;
	}

	&-white-80 {
		color: $white-80;
	}

	&-black {
		color: $black;
	}

	&-black-f {
		color: $black-f;
	}

	&-blue {
		color: $blue;
	}

	&-typo-gray {
		color: $typo-gray;
	}

	&-orange {
		color: $orange;
	}
}

.bg {
	&-kvgreen {
		background-color: $kv-green;
	}

	&-white {
		background-color: $white;
	}
}
