.btn {
	border-radius: 4px;
	font-size: 16px;
	font-weight: 700;
	line-height: 48px; /* 300% */
	padding: 0 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-shrink: 0;
	gap: 12px;
	width: fit-content;
	outline: none;
	border: none;
	height: 48px;
	transition-duration: 0.3s;
	transition-property: color, border, fill, background-color;
	&:disabled {
		opacity: 0.8;
		pointer-events: none;
	}

	&:hover {
		cursor: pointer;
	}

	&-big {
		padding: 0 38px;
	}

	&__primary {
		&-black {
			background: $black;
			color: $white;

			&:hover {
				background: $black-80;
			}
		}

		&-white {
			background-color: $white;
			color: $black;

			&:hover {
				color: $black-80;
				svg {
					fill: $black-80;
				}
			}
		}

		&-orange {
			background: $orange;
			color: $white;

			&:hover {
				background-color: $orange-hover;
			}
		}
	}

	&__secondary {
		&-black {
			border: 2px solid $black;
			background: $white;
			color: $black;

			&:hover {
				color: $black-80;
				border-color: $black-80;
				svg {
					fill: $black-80;
				}
			}
		}

		&-white {
			border: 2px solid $white;
			background: $black;
			color: $white;

			&:hover {
				border-color: $white-80;
			}
		}

		&-orange {
			border: 2px solid $orange;
			background: $white;
			color: $orange;

			&:hover {
				color: $orange-hover;
				border-color: $orange-hover;
			}
		}

		&-kvgreen {
			background-color: $kv-green;
			border: 2px solid $white;
			color: $white;

			&:hover {
				background-color: $kv-green-80;
			}
		}
	}

	&__icon {
		&-black {
			fill: $black;
		}

		&-white {
			fill: $white;
		}

		&-white,
		&-black {
			&:hover {
				cursor: pointer;
			}
		}
	}
}
